<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>{{title}}</title>
</head>
<body>
{% extends "base1.html" %}

{% block content %}
    <p>Фамилия: {{ surname }}</p>
    <p>Имя: {{ name }}</p>
    <p>Образование: {{ education }}</p>
    <p>Проффесия: {{ profession }}</p>
    <p>Пол: {{ sex }}</p>
    <p>Мотивация: {{ motivation }}</p>
    <p>Готовы? {{ ready }}</p>
{% endblock %}
</body>
</html>